p{color:rgb(179, 10, 230); font-size : large}
ol{color:rgb(167, 242, 5); font-size: large}
ol{background-color: aqua;}

/* html{background-image: url("dukehat.jpg"); font-family: Georgia, 'Times New Roman', Times, serif;} */